<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<h2>Latest Blevins Updates</h2>
				<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
				fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
			</header>
			<ul class="features">
				{{ range first 4 (where .Data.Pages "Type" "update") }}
					<li>
						{{ .Render "li" }}
					</li>
				{{ end }}
			</ul>
		</div>
	</section>