<!doctype html>
<html lang="en">
	{{ partial "head" . }}
	<body{{ if .IsHome }} class="landing"{{ end }}>

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				{{ partial "header" . }}
				{{ block "main" . }}{{ end }} 
				{{ partial "footer" . }} 
			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>